html {
    height: 100%;
    position: relative;
}
#gameOverVisualization {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
#gameOverVisualization h2 {
    color: white;
    margin: 0;
    font-size: 60px;
    line-height: 70px;
}
body {
    background: lightgrey;
    font-family: "Inter", sans-serif;
    font-style: normal;
    margin: 0;
    color: rgba(0, 0, 0, 0.88);
}
#fieldWrapper {
    position: relative;
    margin: 0 auto;
    width: 408px;
    height: 408px;
}
.move-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.move-btn-wrapper input {
    border-radius: 8px;
    width: 200px;
    background: rgba(255, 255, 255, 0.65);
    border: none;
    height: 32px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 24px;
}
.move-btn-wrapper input:focus {
    outline: none;
}
h1 {
    text-align: center;
    margin: 24px 0 48px 0;
    font-size: 35px;
    line-height: 44px;
}
.mix-btn {
    border-radius: 8px;
    border: none;
    box-shadow: 1px 5px 5px transparent;
    transition: box-shadow .4s linear;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    padding: 4px 26px;
}
.mix-btn:hover {
    cursor: pointer;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.35);
}
#mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
}
span {
    background: darkgray;
    outline: none;
    border-radius: 8px;
    position: absolute;
    width: 96px;
    height: 96px;
    /*width: 3vw;*/
    /*height: 3vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    line-height: 44px;
    user-select: none;
}
span.item-zero, span.btn-before-mix.item-zero {
    background: transparent;
    box-shadow: none !important;
    color: transparent;
    cursor: auto !important;
    outline: none;
}
span.btn-before-mix {
    background: transparent;
    outline: 1px solid darkgray;
    outline-offset: -1px;
}
span:hover {
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
#startAgain {
    font-size: 24px;
    line-height: 32px;
    background: lightgray;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    text-transform: uppercase;
}
#startAgain:hover {
    cursor: pointer;
}
/*.item {*/
/*    transition: left 3s linear, top 3s linear 0s;*/
/*}*/
.item-zero {
    background: transparent;
    outline: 2px solid darkgray;
    outline-offset: -2px;
}
.moves-counter {
    display: none;
}
.moves-counter span {
    position: initial;
    margin: 0 auto 24px auto;
}

@media (max-width: 420px) {
    #fieldWrapper {
        width: 268px;
        height: 268px;
    }
    span {
        width: 64px;
        height: 64px;
        font-size: 28px;
        line-height: 32px;
    }
}
/*420px*/
