html {
    height: 100%;
    position: relative;
}
#gameOverVisualization {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
}
#gameOverVisualization h2 {
    color: white;
    margin: 0;
    font-size: 60px;
    line-height: 70px;
}
body {
    background: lightgrey;
    font-family: "Inter", sans-serif;
    font-style: normal;
    margin: 0;
    color: rgba(0, 0, 0, 0.88);
}
div {
    position: relative;
    margin: 0 auto;
    width: 528px;
    height: 216px;
}
h1 {
    text-align: center;
    margin: 24px 0 48px 0;
    font-size: 35px;
    line-height: 44px;
}
.wrapper {
    display: flex;
    justify-content: center;
    gap: 96px;
}
span {
    background: darkgray;
    border-radius: 8px;
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span:hover {
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.item-11 {
    left: 0;
    top: 0;

    transition: top 1s, left 1s;
}

/*@keyframes myship {*/
/*    from {left: 0;}*/
/*    to{left: 56px;}*/
/*}*/

.item-12 {
    left: 56px;
    top: 0;
}
.item-13 {
    left: 112px;
    top: 0;
}
.item-14 {
    left: 168px;
    top: 0;
}
.item-21 {
    left: 0;
    top: 56px;
}
.item-22 {
    left: 56px;
    top: 56px;
}
.item-23 {
    left: 112px;
    top: 56px;
}
.item-24 {
    left: 168px;
    top: 56px;
}
.item-31 {
    left: 0;
    top: 112px;
}
.item-32 {
    left: 56px;
    top: 112px;
}
.item-33 {
    left: 112px;
    top: 112px;
}
.item-34 {
    left: 168px;
    top: 112px;
}
.item-41 {
    left: 0;
    top: 168px;
}
.item-42 {
    left: 56px;
    top: 168px;
}
.item-43 {
    left: 112px;
    top: 168px;
}
.item-44 {
    left: 168px;
    top: 168px;
}
.item-zero {
    background: transparent;
    outline: 2px solid darkgray;
    outline-offset: -2px;
}
