html {
    height: 100%;
    position: relative;
}
#gameOverVisualization {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
}
#gameOverVisualization h2 {
    color: white;
    margin: 0;
    font-size: 60px;
    line-height: 70px;
}
body {
    background: lightgrey;
    font-family: "Inter", sans-serif;
    font-style: normal;
    margin: 0;
    color: rgba(0, 0, 0, 0.88);
}
#myDiv {
    position: relative;
    margin: 0 auto;
    width: 408px;
    height: 408px;
}
h1 {
    text-align: center;
    margin: 24px 0 48px 0;
    font-size: 35px;
    line-height: 44px;
}
.mix-btn {
    border-radius: 8px;
    border: none;
    box-shadow: 1px 5px 5px transparent;
    transition: box-shadow .4s linear;
    display: flex;
    margin: 24px auto;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    padding: 4px 26px;
}
.mix-btn:hover {
    cursor: pointer;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.35);
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
}
span {
    background: darkgray;
    border-radius: 8px;
    position: absolute;
    width: 96px;
    height: 96px;
    /*width: 3vw;*/
    /*height: 3vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    line-height: 44px;
}
span:hover {
    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.item {
    transition: left 1s linear, top 1s linear 0s;
}
.item-zero {
    background: transparent;
    outline: 2px solid darkgray;
    outline-offset: -2px;
}
